{% extends 'base.html' %}
{% block content %} 
    <h1>Title: {{episode.title }}</h1>
    <h2>Number: {{episode.num}}</h2>
    <p>Campaign: {{episode.campaign.num}}/
        <a href="{%url 'campaigns:detail' episode.campaign_id%}">{{episode.campaign.name}}</a>
    </p>
    <p>Description: {{episode.description}}</p>
    <p>Length: {{episode.length_formatted}}</p>
    <p>Game Time: {{episode.game_time_formatted}}</p>
    <p>Break Time: {{episode.break_time_formatted}}</p>

    <ul>
    {% for roll in episode.rolls.all %}
        <li><a href="{%url 'rolls:detail' roll.id%}">{{ roll.time_formated}}</a></li>
    {% endfor %}
    </ul>
{%endblock%}
