{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main.css'%}">

<h1>CritRoleDB</h1>
<ul id='nav-bar'>
  <li><a href="/rolls/">Rolls</a></li>
  <li><a href="/rolls/types">Roll Types</a></li>
  <li><a href="/episodes/">Episodes</a></li>
  <li><a href="/characters/">Characters</a></li>
  <li><a href="/characters/types">Characters types</a></li>
  <li><a href="/races/">Races</a></li>
  <li><a href="/classes/">Classes</a></li>
</ul>
{% block content %}
{% endblock %}
<p id='footer'>Data from CritRole Stats.</p>