{% extends 'base.html' %}
{% block content %} 
  <h1>Time: {{ rolls.time_formated }}</h1>
  <p>
    Episode: 
    <a href="{%url 'episodes:detail' rolls.ep_id%}">{{rolls.ep.title}}</a>
  </p>
  <p>
    Rolled By: 
    <a href="{%url 'characters:detail' rolls.character_id%}">{{rolls.character.full_name}}</a>
  </p>
  <p>Type: {{rolls.roll_type}}</p>
  <p>Natural Value: {{ rolls.natural_value }}</p>
  <p>Total Value: {{ rolls.final_value }}</p>
  <p>Notes: {{ rolls.notes }}</p>
  {%if rolls.damage%}
    <p>Damage: {{rolls.damage}}</p>
  {%endif%}
{% endblock%}
